<div id="<%= dom_id note %>">
  <p>
    <strong>Charcter:</strong>
    <%= note.character.name %>
  </p>
  <p>
    <strong>Note:</strong>
    <%= note.body %>
  </p>

  <p>
    <strong>Created On</strong>
    <%= note.created_at.to_date %>
  </p>
</div>
